.header{
    text-align: center;
}

#p1{
font-size: 75px;
margin-top: 20px;
margin-bottom: 5px;
}

#p2{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#p3{
    font-size: 25px;
    margin-top: 20px;
}